/* ==========================================================================
   Base styles
   ========================================================================== */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-tap-highlight-color: transparent;
}

/*Font*/
h1,
h2 {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  color: white
}

h3,
h4,
h5,
h6,
body,
button,
input,
select,
textarea {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: white
}

p,
li {
  font-size: 20px;
  color: white
}

@media only screen and (max-width:600px) {

  p,
  li {
    font-size: 18px;
  }
}

a {
  color: white;
  transition: all .4s ease;
}

a:hover,
a:focus {
  color: white;
  text-decoration: underline;
}

/* ==========================================================================
   Structure
   ========================================================================== */
html,
body {
  height: 100%;
}


body {
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/fondo.png);

}

main.content {
  height: calc(100% - 30px);
  padding: 60px 80px;
  display: flex;
  flex-direction: row;
}

.left-content {
  width: 75%;
}

.right-content {
  width: 25%;
  text-align: right;
}

@media only screen and (max-width:1000px) {
  main.content {
    padding: 40px 60px;
  }

  .left-content {
    width: calc(100vw - 120px - 185px);
  }

  .right-content {
    width: 185px;
  }
}

@media only screen and (max-width:730px) {
  main.content {
    padding: 30px 45px;
    flex-direction: column;
    justify-content: space-between;
    /* height: calc(100vh - 50px); */
  }

  .left-content {
    width: 100%;
  }

  .right-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgba(255, 255, 255, .3); */
    height: 100px;
    position: fixed;
    bottom: 40px;
    width: calc(100% - (45px * 2));
  }
}

@media only screen and (max-width:480px) {
  main.content {
    padding: 20px 25px;
  }

  .right-content {
    width: calc(100% - (25px * 2));
  }
}




/* ==========================================================================
   Left-content
   ========================================================================== */

.left-content .title {
  margin-bottom: 80px;
}

.left-content .title h1 {
  font-size: 3em;
  margin: 0;
}

.left-content .title h3 {
  font-size: 1.4em;
  margin: 10px 0 0 0;
}


.left-content .section-content {
  padding-top: 20px;
  max-width: 1030px;
}

.masked-overflow {
  max-height: calc(100vh - 91px - 80px - 80px - 50px);
  --scrollbar-width: 0px;
  --mask-height: 50px;
  overflow-y: auto;
  padding-bottom: var(--mask-height);
  --mask-image-content: linear-gradient(to bottom, transparent, black var(--mask-height), black calc(100% - var(--mask-height)), transparent);
  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
  --mask-image-scrollbar: linear-gradient(black, black);
  --mask-size-scrollbar: var(--scrollbar-width) 100%;
  -webkit-mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  -webkit-mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
  -webkit-mask-position: 0 0, 100% 0;
  mask-position: 0 0, 100% 0;
  -webkit-mask-repeat: no-repeat, no-repeat;
  mask-repeat: no-repeat, no-repeat;
}

.masked-overflow {
  scrollbar-width: none;
  scrollbar-color: rgba(255, 255, 255, .3) transparent;
}

.masked-overflow::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

@media only screen and (max-width:1000px) {
  .left-content .title {
    margin-bottom: 50px;
  }

  .masked-overflow {
    max-height: calc(100vh - 91px - 80px - 50px - 50px);
  }
}

@media only screen and (max-width:730px) {
  .left-content .title {
    margin-bottom: 20px;
  }

  .masked-overflow {
    max-height: calc(100vh - 91px - 80px - 20px - 10px - 100px);
  }
}

@media only screen and (max-width:480px) {
  .left-content .title h1 {
    font-size: 1.5em;
  }

  .left-content .title h3 {
    font-size: 1.2em;
    margin: 5px 0 0 0;
    /* display: none; */
  }

  .left-content .section-content h1 {
    font-size: 1.7em;
  }

}

/* ==========================================================================
   right-content
   ========================================================================== */


ul.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 0 100px 0;
  padding: 0;
  text-decoration: none;
}


ul.socials li:nth-child(2),
ul.socials li:nth-child(3) {
  padding-left: 20px;
}


ul.socials li svg {
  width: 20px;
  height: 20px;
  fill: white;
  transition: all .4s ease;
}

.section-links {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.section-links button {
  margin: 6px 0 6px 0;
  font-size: 18px;
  opacity: 0.65;
  transition: all .4s;
}

.section-links ul:hover button.active {
  opacity: 0.65;
}

.section-links button.active,
.section-links button:hover,
.section-links button:focus {
  opacity: 1;
  /* -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.25));
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.25)); */
}

@media only screen and (max-width:730px) {
  ul.socials {
    margin: 0;
    padding: 0;
    align-items: flex-end;
  }

  .section-links {
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: flex-end;
  }

  .section-links ul {
    margin: 0;
  }

  .section-links button {
    margin: 3px 0 3px 0;
    font-size: 16px;
  }

  .section-links button:last-child {
    margin: 3px 0 0px 0;
  }
}




/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100vw;
  display: flex;
  align-items: center;

}

footer p {
  font-size: 13px;
  margin: 0 0 0 80px
}

footer p,
footer a {
  color: rgba(255, 255, 255, 0.55);
}

@media only screen and (max-width:1000px) {
  footer p {
    margin: 0 60px
  }
}

@media only screen and (max-width:730px) {
  footer {
    align-items: flex-start;
  }

  footer p {
    margin: 0 45px;
    font-size: 11px;
  }
}

@media only screen and (max-width:480px) {


  footer p {
    margin: 0 25px;
    font-size: 10px;
  }
}

/* ==========================================================================
   Mobile intro animations
   ========================================================================== */

@media only screen and (max-width:480px) {

  .left-content {
    animation-name: fadeInUp;
    animation-duration: 6s;
    justify-content: space-between;
  }

  .left-content .section-content {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
  }

  .right-content,
  footer {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .left-content .title h1 {
    font-size: 1.5em;
    animation-name: scaleDownTitle;
    animation-duration: 6s;
  }

  .left-content .title h3 {
    animation-name: scaleDownSubtitle;
    animation-duration: 6s;
    animation-fill-mode: forwards;

  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40vh);
  }

  40% {
    opacity: 1;
    transform: translateY(40vh);
  }

  100% {
    opacity: 1;
    height: auto;
    transform: translateY(0vh);
  }
}

@keyframes scaleDownTitle {
  0% {
    font-size: 2em;
  }

  40% {
    font-size: 2em;
  }

  100% {
    font-size: 1.5em;
  }
}

@keyframes scaleDownSubtitle {
  0% {
    font-size: 1.2em;
    opacity: 1;
  }

  40% {
    font-size: 1.2em;
    opacity: 1;
  }

  100% {
    font-size: 0.8em;
    margin: 3px 0 0 0;
    opacity: 0.85;
  }
}

/* ==========================================================================
   Helpers
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.hidden {
  display: none;
}