/* ==========================================================================
   Base styles
   ========================================================================== */
/*Font*/
h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h3,
h4,
h5,
h6,
body,
button,
input,
select,
textarea {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 2.1rem;
}

p,
li {
  font-size: 20px;
}

@media only screen and (max-width:600px) {

  p,
  li {
    font-size: 18px;
  }
}

a {
  color: #e85d2d;
  transition: color .3s ease;
}

footer a,
header a,
.hero a {
  color: white;
}

footer a:hover,
footer a:focus {
  color: #e85d2d !important;
}

.btn {
  background-color: #e85d2d;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  letter-spacing: .5px;
  line-height: 36px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  transition: background .3s ease;
  white-space: nowrap;
}

.btn:hover,
.btn:focus {
  background-color: #d6551e;
}

/* ==========================================================================
   Preloader
   ========================================================================== */
.loading {
  overflow: hidden;
  height: 100vh;
}

form #website {
  display: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fafafa;
}

.preloader-circle {
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  opacity: 0;
  z-index: 21;
  /*shape & color*/
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

/*animations*/
.preloader-circle:first-child {
  -webkit-animation: loader 2s infinite;
  animation: loader 2s infinite;
}

.preloader-circle:nth-child(2) {
  -webkit-animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
  animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* ==========================================================================
   Header
   ========================================================================== */
header nav {
  height: 0;
  position: absolute;
  z-index: 100;
}

@media only screen and (max-width:992px) {
  header nav {
    position: fixed !important;
  }
}

header nav i {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  font-size: 31px !important;
  transform: translateX(21px);
}

#nav-mobile {
  padding-top: 5%;
  background-color: #4e606f;
  color: white;
}

#nav-mobile li {
  text-align: center;
}

#nav-mobile h5 {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 10%
}

#nav-mobile a {
  color: white;
  font-size: 1.2rem;
}

.nav-wrapper {
  color: #fafafa;
}

/* ==========================================================================
   Hero
   ========================================================================== */
.hero {
  /* height: 75vh; */
  height: 85vh;
  /* fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/fondo-min.jpg);
  /*para centering */
  display: flex;
}

@media only screen and (max-width:650px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/fondo-mobile-min.jpg);
  }

}

.hero .blur {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 100%;
  display: flex;
}

.hero .container {
  margin: auto;
}


.hero h1 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  transition: all .4s ease;
  color: white;
}

.hero.secondary h1 {
  font-size: 4em;
}

.hero h4 {
  margin-top: 0.75rem
}

.hero h4,
.hero i {
  color: rgba(255, 255, 255, 0.9);
}

@media only screen and (min-width:950px) {
  .hero h1.name {
    font-size: 5.5rem;
  }
}

@media only screen and (max-width:667px) {
  .hero h4 {
    /*fix de multiline moviendo heading*/
    position: absolute;
    padding-right: 15px;
  }
}

@media only screen and (max-width:600px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero h4 {
    font-size: 1.9rem;
  }

  .hero.secondary h1 {
    font-size: 3em;
  }
}

/* ==========================================================================
   Secciones
   ========================================================================== */
main {
  background-color: #fafafa;
}

@media only screen and (min-width:901px) {

  /* cambia el orden de los items */
  /* #section-2 .row {
    display: flex;
    flex-direction: row-reverse;
  } */

  /* centra los textos verticalmente */
  .col.s12.m6.l6.valign-wrapper {
    min-height: 430px;
  }
}


/* overlays imágenes */
.image-link {
  position: relative;
  margin: auto;
  overflow: hidden;
  box-sizing: content-box;
  /* arregla un bug en el que ocupa mas espacio vertical */
  line-height: 0
}

.image-link .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.image-link:hover .overlay {
  opacity: 1;
}

.image-link .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* section cv */
#section-2 {
  background: #f1f1f1;
}

#section-2 .content {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

/* section 3 */

#section-3 {
  padding-bottom: 140px;
}



@media only screen and (min-width:901px) {
  #section-3 .row {
    display: flex;
  }

  #section-3 .col {
    flex: 1;
  }

  #section-3 .col:first-child {
    padding-right: 50px;
  }

  #section-3 .col:last-child {
    padding-left: 50px;
  }
}

@media only screen and (max-width:900px) {
  #section-3 .col:last-child {
    padding-top: 80px;
  }
}


/* ==========================================================================
   Footer
   ========================================================================== */
.page-footer {
  background-color: #00141d;
}

/* footer items container */
.page-footer {
  padding-top: 0px;
}

.footer-items {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 700px;
}

/* styles for medium and large screens */
footer p,
footer h5,
footer ul {
  margin: 0;
  margin-bottom: .3rem;
}

.footer-items a {
  font-size: 1.1rem;
  color: white;
}

.footer-items ul {
  display: flex;
  justify-content: space-around;
}

.footer-items li i {
  font-size: 8px;
  color: rgba(255, 255, 255, 0.2);
}


/* styles for small screens */
@media only screen and (max-width:560px) {
  .footer-items ul {
    flex-direction: column;
    align-items: center;
  }

  .footer-items li {
    padding-bottom: .4rem;
  }

  .footer-items a {
    font-size: 1.3rem !important;
  }

  .footer-items li i {
    display: none;
  }
}

/* footer copyright */
.footer-copyright {
  background-color: rgba(0, 0, 0, 0.18) !important;
}

/* ==========================================================================
   Cambios Materialize
   ========================================================================== */

.row {
  margin-bottom: 0;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
  /* padding-top: 70px;
  padding-bottom: 70px; */
}

@media only screen and (max-width:901px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.valign-wrapper {
  flex-direction: column;
  justify-content: center;
}

.responsive-img {
  display: block;
  margin: auto;
}

/* ==========================================================================
   Página Desarrollo
   ========================================================================== */
.hero.secondary {
  height: 35vh;
}

@media only screen and (max-width:600px) {
  .hero.secondary {
    height: 40vh;
  }

}

.hero.secondary i {
  transform: translateY(5px);
}


.splide {
  margin: auto;
}

.splide__track {
  border-radius: 10px;
}

.splide__slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.splide__pagination__page.is-active {
  background: #d6551e;
  opacity: 1;
}

.splide__arrow {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.splide__arrow svg {
  fill: white;
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.6));
}

.project {
  padding-bottom: 0;
}

.project-selector {
  padding-top: 0
}

@media only screen and (max-width:992px) {
  .project-selector {
    height: 625px
  }
}

.project-selector .row {
  width: 100%;
  height: 150px;
}

.project-selector .col {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 4px;
}

.project-selector .col .project-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.project-selector #thumbnail-asesorrural .project-img {
  background-image: url("../img/project-thumbs/asesorrural-thumb.jpg");
}

.project-selector #thumbnail-agrorrhh .project-img {
  background-image: url("../img/project-thumbs/agrorrhh-thumb.jpg");
}

.project-selector #thumbnail-rps .project-img {
  background-image: url("../img/project-thumbs/rps-thumb.jpg");
}

.project-selector #thumbnail-map .project-img {
  background-image: url("../img/project-thumbs/map-thumb.jpg");
}

.project-selector #thumbnail-bravo .project-img {
  background-image: url("../img/project-thumbs/bravo-thumb.jpg");
}

.project-selector #thumbnail-trama .project-img {
  background-image: url("../img/project-thumbs/trama-thumb.jpg");
}

.project-selector #thumbnail-portfolio .project-img {
  background-image: url("../img/project-thumbs/portfolio-thumb.jpg");
}

.project-selector #thumbnail-eventos .project-img {
  background-image: url("../img/project-thumbs/eventos-thumb.jpg");
}



.project-selector .col .project-wrapper .project-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.project-selector .col .project-wrapper .project-text-wrapper,
.project-selector:hover .col.active .project-wrapper .project-text-wrapper,
.project-selector:focus .col.active .project-wrapper .project-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  transition: all .3s ease;
}

.project-selector .col.active .project-wrapper .project-text-wrapper,
.project-selector .col:hover .project-wrapper .project-text-wrapper,
.project-selector .col:focus .project-wrapper .project-text-wrapper .project-selector .col.active:hover .project-wrapper .project-text-wrapper,
.project-selector .col.active:focus .project-wrapper .project-text-wrapper {
  opacity: 1;
  background-color: rgba(0, 0, 0, .3);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.project-selector .col .project-wrapper .project-text-wrapper .project-text {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5px;
}

.project-selector .col .project-wrapper .project-text-wrapper .project-text p {
  color: white;
  margin: auto;
  text-align: center;
}


/* ==========================================================================
   Browser Fixes
   ========================================================================== */
/* Firefox */

@-moz-document url-prefix() {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/fondo-firefox.jpg) !important;
  }

  .image-link .overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
}