/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/**GENERAL**/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*, h1, h2, h3 {
  margin: 0;
  padding: 0;
  transition: all .4s ease;
}
html, body {
    width: 100%;
    height:100%
}
h1, h2, h3, p, li, a,input,textarea,button {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 3em;
  font-weight: 500;
}
h2 {
  font-size: 1.7em;
  font-weight: 500;
  color:rgb(95,95,95)
}
h3 {
  font-size: 1.3em;
  font-weight: 500;
}
a{
  color: black;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.small-text{
  font-size: .6em;
  margin-top: 3em;
}
/**PRELOADER**/
.loading {
  overflow: hidden;
  height: 100vh;
}
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,1);
}
.preloader-circle{
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  opacity: 0;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  z-index: 10000;
}
.preloader-circle:first-child{
  animation: loader 2s infinite;
}
.preloader-circle:nth-child(2){
  animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
}
@keyframes loader {
  0%{
      opacity: 1;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  100%{
      opacity: 0;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
/*MAIN*/
.item-container{
    position:fixed;
    width:100%;
    height: 100%;
    background: black;
    display:flex;
    flex-direction: column;
}
.item-content{
    margin: auto;
    text-align: center;
    max-width: 1000px;
}
.item-content:first-child{
  display: flex;
  justify-content: space-evenly;
}
.item-content div {
  width: 30vw;
  display: flex;
}
.item{
    height: 35vh;
    cursor:pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    outline: none;
    color: white;
    transition: all .4s ease;
    margin: auto;
}
.item:hover{
  transform: scale(1.2);
  opacity: .8;
}
@media only screen and (max-width:1235px){
  .item{
    height: 20vw;
  }
}
@media only screen and (max-width:600px){
  .item-content{
    flex-wrap: wrap;
  }
  .item-content div {
    width: 50vw;
  }
  .item-content div:last-child{
    height: auto;
  }
  .item{
    height: 32vw;
  }
}
.text{
  position:fixed;
  bottom:10px;
  width:100%;
  text-align: center;
}
#result{
  color: white;
}

.counter{
  position: fixed;
  width:100%;
  top: 10px;
  text-align: center;
}
.info-button{
  position: fixed;
  bottom: 10px;
  right: 10px;

}
.info-button img{
  width: 25px;
  height: 25px;
  cursor:pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  outline: none;
}
.info-button img:hover{
  opacity:0.6;
}
section.info{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
section.info >div{
  width: 97%;
  max-width: 500px;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  -moz-border-radius:8px;
  -webkit-border-radius: 8px;
  border: 19px;
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
}

section.info div div{
  margin: 1em auto;
  
}
img[src="img/me-min.jpg"]{
  width: 100%;
  height:100%;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
@media only screen and (max-height:590px){
  img[src="img/me-min.jpg"]{
    width: 75%;
    height:75%;
    max-width: 3000px;
    max-height: 3000px;
  }
  p{
    font-size: .9em;
  }
}
@media only screen and (max-height:479px){
  
section.info div div{
  display:none;
  
}

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}

/**ANIMATIONS**/

@keyframes fromBlack {
  0% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes fadeUp {
0%{
    transform: translateY(50%);
    opacity: 0.0001;
    filter: alpha(opacity=1);
}
100%{
    transform: translateY(0%);
    opacity: 1;
    filter: alpha(opacity=100);
}
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
    .fadeUp{
        animation: fadeUp 1s forwards;
    }
/*fix blurry text from parallax*/
p,h1,h2,h3,li,a,button{
    -webkit-font-smoothing: antialiased;
}
