/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Colors
#fccc20
highlights
#C9EFBB
map
#757575
form
rgb(20,20,20)
footer
rgba(255,255, 255, 0.95)
footer text
rgba(255,255, 255, 0.7)
footer txt
#0e0e0e
burger menu borders
*/
/**GENERAL**/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
    transition: all .4s ease;
}
*, h1, h2, h3 {
  margin: 0;
  padding: 0;
}
html, body {
    width: 100%;
    height:100%
}
h1, h2, h3, p, li, a,input,textarea,.lb-data/*lightbox*/, .lb-number/*lightbox*/,button {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 3em;
  font-weight: 500;
}
h2 {
  font-size: 1.7em;
  font-weight: 500;
}
h3 {
  font-size: 1.3em;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: white;
  transition: all .2s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a.black{
    color:black;
}
a:hover{
    color:#fccc20!important;
}
li{
    list-style: none;
}
button {
  padding: 10px 20px;

  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;

  border: 0px solid #000000;
  background-color: rgba(0, 173, 181,1);
  color: white;
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 173, 181,.8);
}

button.transparent{
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    padding: 8px 18px;
}
button.transparent:hover{ /*Custom style for GreatBurgers*/
    border-color: #fccc20;
    color:#fccc20;
}
iframe{
    background-color: #C9EFBB;

}
.photo img {
  width: 100%;
  display: block;
}
.italic{
    font-style: italic;
}
/**PRELOADER**/
.loading {
    overflow: hidden;
    height: 100vh;
}
.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,1);
}
.preloader-circle{
    position: fixed;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    opacity: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    z-index:21;
}
.preloader-circle:first-child{
    animation: loader 2s infinite;
}
.preloader-circle:nth-child(2){
    animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
}
@keyframes loader {
    0%{
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100%{
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/**----------HEADER----------**/
header{
    display: flex;
    justify-content: space-between;
    height: 0px;
}
/*LOGO*/
.logo {
    z-index: 10;
}
.logo img {
    margin: 10px 30px;
    width: 65px;
    height: 65px;
}
/*NAV*/
header nav {
    z-index: 10;
}
header nav ul{
    display: flex;
}
header nav ul li{
    margin-right: 1em;
    font-size: 1.15em;
    text-transform: uppercase;
    line-height: 4em;
}
@media only screen and (max-width:768px){
    header nav{
        height: 100vh;
        width:320px;
        position: fixed;
        background-color: rgb(20,20,20);
        right: -350px;
        transition: all .4s linear;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.64);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.64);
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.64);

    }
    #sidebar.active {
        right:0%;
    }
    header nav ul {
        flex-direction: column;
        text-align: center;
        margin-top: 90px;
        border-top: 1px solid #0e0e0e;
    }
    header nav ul li {
        line-height: 3em;
        border-bottom: 1px solid #0e0e0e;
        margin-right: 0px;
    }
}
@media only screen and (max-width:320px){
    header nav{
        width:100%;
        right: -105%;
    }
    #sidebar.active {
        right:0%;
    }
}
/*BM*/
.burger-menu{
    display: none;
}
@media only screen and (max-width:768px){
    .burger-menu{
        display: block;
        margin: 30px 25px 10px 10px;
        cursor: pointer;
        height: 50px;
        position:fixed;
        right: 2%;
        z-index: 11;

    }
    .burger-menu div {
        width:30px;
        height: 3px;
        background-color: white;
        margin-top: 7px;
        transition: all .4s ease;
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: 0px solid #000000;
    }
    #bm-1.black,#bm-2.black,#bm-3.black {
        background-color: black;
    }
    #bm-1.close{
        transform: rotate(45deg) translate(0,7px);
        background-color:white;
    }
    #bm-2.close{
        display: none;
        background-color:white;
    }
    #bm-3.close{
        transform: rotate(-45deg) translate(0,-7px);
        background-color:white;
    }

}
/**----------MAIN----------**/
.container {
    width:87%;
    display: flex;
    flex-direction: column;
    margin:160px auto;
    height:auto;
}
@media only screen and (max-width:768px) {
    .container{
        margin:100px auto;
    }
}
@media only screen and (max-width:480px) {
    .container{
        margin:70px auto;
    }
}
.nomargin{
    margin:0px auto;
}
.content {
    max-width: 1100px;
    margin:auto;
    text-align: center;
}
/*HERO*/
.hero-image {
    height: 35vh; /*for every page but index*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero-med-min.jpg);
    animation-duration: 1.5s;
    animation-name: fromBlack;
    position: relative;
}
.fullheight{
    height: 100vh; /*for index*/
}

.scroll-downs {
  position: absolute;
  top:75%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
.hero-image.locations{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/eating-med-min.jpg);
}
.hero-image.about-us{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/service-med-min.jpg);
    background-position-y: 20%;/*Custom style for greatburgers*/
}
.hero-image.contact-us{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hello-med-min.jpg);
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    max-width:744px; /*Only for Great Burgers*/
    animation: fadeUp 1.2s forwards;
}
.hero-text.index h1{
    font-size: 3.6em;
}
@media only screen and (max-width:768px){
    .hero-text h1{
        font-size: 11vw!important;
    }
}
@media only screen and (max-width:516px){
    .hero-image {
        height: 50vh;
    }
    .fullheight{
        height: 100vh; /*for index*/
    }
    .hero-text{
        top: 50%;
        width: 90%;
    }
}
@media only screen and (max-height:567px){ /*Custom style for greatburgers*/
    .hero-text.locations{
        top: 60%;
    }
}

/*COL-12*/
.lesswidth{
    max-width: 900px;
}
.lesswidth h2 {
    margin-bottom: 10px;
}
/*COL-6*/

.halfwidth{
    display:flex;
    width: 100%;
}
.reversed {
  flex-direction: row-reverse;
}
.halfwidth-text {
  margin: auto 20px;
  text-align: center;
}
.halfwidth-text.locations{
    text-align: left;
}
.reversed .halfwidth-text.locations{
    text-align: right;
}
@media only screen and (max-width:768px){
    .reversed .halfwidth-text.locations{
        text-align: left;
    }
}
.halfwidth-text h1,.halfwidth-text h2,.halfwidth-text h3,.halfwidth-text h4,.halfwidth-text p,
.halfwidth-text img, .halfwidth-text button, .halfwidth-text ul, .halfwidth-text a{
  margin: 10px 0;
}
.halfwidth-text.doubletext{
    margin: 120px 10px;
}
.halfwidth-text.doubletext.contact-us{/*Specific for GreatBurgers - removes bottom margin on row*/
    margin-bottom: 0px;
}
@media only screen and (max-width:768px){
    .halfwidth-text.doubletext{
        margin: 70px auto;
    }
    .halfwidth-text.doubletext:first-child{
        margin-bottom:0px;
    }
}
.img-1 {
  background: url(../img/img1-med-min.jpg);
}
.img-2 {
  background: url(../img/img2-med-min.jpg);
}
.col-6-img{
    background-size: cover;
    background-position: center;
    height: 300px;
    background-color: lightblue;
    width: 50%;
}
.col-12-img{
    background-color: lightblue;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width:768px){
    .halfwidth{
        flex-direction: column;
    }
    .col-6{
        width:100%;
    }
    .col-6-img{
        width: 100%;
    }
    .halfwidth-text {
      margin: auto;
    }
}
/*SPECIFIC FOR GreatBurgers*/
.col-6.halfwidth-text.doubletext a[href="https://www.twitter.com"]{
    background-image: url(../img/twitter-black.svg);
    background-repeat: no-repeat;
    padding-left: 21px;
}
.col-6.halfwidth-text.doubletext a[href="https://www.instagram.com"]{
    background-image: url(../img/instagram-black.svg);
    background-repeat: no-repeat;
    padding-left: 21px;
}
.col-6.halfwidth-text.doubletext a[href="https://www.facebook.com"]{
    background-image: url(../img/facebook-black.svg);
    background-repeat: no-repeat;
    padding-left: 21px;
}
.col-6.halfwidth-text.doubletext a[href="https://www.youtube.com"]{
    background-image: url(../img/youtube-black.svg);
    background-repeat: no-repeat;
    padding-left: 21px;
}

/*CONTACT*/
.contact {
    background-color: #393e46;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3em 0;

}
.contact h2{
    color: white;
    margin-bottom: 20px;
}
.contact form {
    margin:auto;
    width: 87%;
    max-width: 600px;
}
.contact form .top {
    margin:10px 0;
}
input, textarea {
   background-color:rgba(0,0,0,0);
   border: solid 0px;
   border-bottom: solid #757575 2px;
   font-size:1em;
   color:white;
   -moz-border-radius:0px;
   -webkit-border-radius:0px;
   border-radius:0px;
   padding-top:5px;
   padding-bottom:5px;
   padding-left:5px;
   padding-right:5px;
   transition: all .3s ease;
   outline: none;
}
input::placeholder{
    color: #757575;
}
input:focus, textarea:focus{
    border-color: white;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
input:nth-child(2){
    width:230px;
}
textarea{
    width: 500px;
    height: 110px;
    resize: none;
}
.contact div:last-child {
    text-align: right;
    margin-top: 5px;
}
@media only screen and (max-width:600px){
    textarea{
        width: 100%;
    }
}
@media only screen and (max-width:510px){
    input{
        width: 100%!important;
    }
    input:nth-child(2){
        margin-top: 10px;
    }
    textarea{
        height: 220px;
    }
}
/**----------FOOTER----------**/

/*FOOTER*/
.footer {
    background-color: rgba(20,20,20,1);
    height:250px;
    line-height: 1.2em;
    display:flex;
}
.container-footer{
    display: flex;
    justify-content:space-between;
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
}
.container-footer > div{
    padding-top: 30px;
    max-width: 200px;
}
.footer a {
    font-size: .9em;
    color: rgba(255,255, 255, 0.95);
}
.footer p {
    font-size: .8em;
    padding-left: 1em;
    color: rgba(255,255, 255, 0.7);
}
.footer img {
    height: 2.5em!important;
    margin-top: 1em;
}
@media only screen and (max-width:420px){
    .footer{
        height: 300px;
    }
    .footer p {
        padding-left: 0;
    }
    .container-footer{
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
    }
    .container-footer > div{
        max-width: none;
    }
}
.social-icon:hover{
    opacity:0.5;
}
/*COPYRIGHT*/
.copyright{
    height:auto;
    justify-content: center;
    text-align: center;
}
.copyright p{
    font-size: .7em;
    color: rgba(255,255, 255, 0.7);
}



























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}

/**ANIMATIONS**/

@keyframes fromBlack {
  0% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes fadeUp {
from{
    transform: translate(-50%, 50%);
    opacity: 0.1;
    filter: alpha(opacity=10);
}
to{
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: alpha(opacity=100);
}
}
